<html>
<head>
	<title></title>
</head>
<body>
  <form action="/doctors/new" method="POST">
  Name:<br>
  <input type="text" name="doctor[docname]"><br>
  category:<br>
  <input type="text" name="doctor[category]"><br>
  Address:<br>
  <input type="text" name="location"><br>
  Mobile No:<br>
  <input type="text" name="doctor[mobileno]"><br>
  
  <input type="submit" value="Submit">
</form> 
</body>
</html>